<?php

// Отправляем браузеру правильную кодировку,
// файл index.php должен быть в кодировке UTF-8 без BOM.
header('Content-Type: text/html; charset=UTF-8');

$ability_labels = ['god' => 'Immortality', 'fly' => 'Fly', 'idclip' => 'Portals', 'fireball' => 'Fireballs'];

// В суперглобальном массиве $_SERVER PHP сохраняет некторые заголовки запроса HTTP
// и другие сведения о клиненте и сервере, например метод текущего запроса $_SERVER['REQUEST_METHOD'].
if ($_SERVER['REQUEST_METHOD'] == 'GET') {
  // В суперглобальном массиве $_GET PHP хранит все параметры, переданные в текущем запросе через URL.
  if (!empty($_GET['save'])) {
    // Если есть параметр save, то выводим сообщение пользователю.
    print('Thank you! We saved your results');
  }
  // Включаем содержимое файла form.php.
  include('form.php');
  // Завершаем работу скрипта.
  exit();
}
// Иначе, если запрос был методом POST, т.е. нужно проверить данные и сохранить их в XML-файл.

// Проверяем ошибки.
$errors = FALSE;

if (empty($_POST['fio'])) {
  print('Fill name field<br/>');
  $errors = TRUE;
}
else if (!preg_match('/^[a-zA-Z]+$/u', $_POST['fio'])) {
  print('unable name symbols<br/>');
  $errors = TRUE;
}

if (empty($_POST['email'])) {
    print('Fill email field<br/>');
    $errors = TRUE;
}



if (empty($_POST['year'])) {
    print('fill date field<br/>');
    $errors = TRUE;
}
else {
  $year = $_POST['year'];
  if (!(is_numeric($year) && intval($year) >= 1900 && intval($year) <= 2020)) {
    print('unable name date<br/>');
    $errors = TRUE;
  }
}

if(empty($_POST['agree']))
{
    print('Sign the agreement<br/>');
    $errors = TRUE;
}


// *************
// Тут необходимо проверить правильность заполнения всех остальных полей.
// *************

if ($errors) {
  // При наличии ошибок завершаем работу скрипта.
  exit();
}

switch($_POST['sex']) {
    case 'man': {
        $sex='man';
        break;
    }
    case 'woman':{
        $sex='woman';
        break;
    }
};

switch($_POST['limbs']) {
    case '1': {
        $limbs='1';
        break;
    }
    case '2':{
        $limbs='2';
        break;
    }
    case '3':{
        $limbs='3';
        break;
    }
    case '4':{
        $limbs='4';
        break;
    }
};
// Сохранение в базу данных.

$user = 'u20385';
$pass = '9967441';
$db = new PDO('mysql:host=localhost;dbname=u20385', $user, $pass,
  array(PDO::ATTR_PERSISTENT => true));

// Подготовленный запрос. Не именованные метки.
try {
  $stmt = $db->prepare("INSERT INTO application SET fio = ?, email = ?, sex = ?, limbs = ?, bio = ?");
  $stmt->execute([$_POST['fio'],$_POST['email'], $_POST['sex'],$_POST['limbs'],$_POST['bio']]);
}
catch(PDOException $e){
  print('Error : ' . $e->getMessage()); 
  exit();
}

//  stmt - это "дескриптор состояния".
 
//  Именованные метки.
//$stmt = $db->prepare("INSERT INTO test (label,color) VALUES (:label,:color)");
//$stmt -> execute(array('label'=>'perfect', 'color'=>'green'));
 
//Еще вариант
/*$stmt = $db->prepare("INSERT INTO users (firstname, lastname, email) VALUES (:firstname, :lastname, :email)");
$stmt->bindParam(':firstname', $firstname);
$stmt->bindParam(':lastname', $lastname);
$stmt->bindParam(':email', $email);
$firstname = "John";
$lastname = "Smith";
$email = "john@test.com";
$stmt->execute();
*/

// Делаем перенаправление.
// Если запись не сохраняется, но ошибок не видно, то можно закомментировать эту строку чтобы увидеть ошибку.
// Если ошибок при этом не видно, то необходимо настроить параметр display_errors для PHP.
header('Location: ?save=1');
