body
{
	background-image: url("https://img3.goodfon.com/original/2560x1440/c/21/poverhnost-render-abstrakciya.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 18px;
}

form{

	background-image: linear-gradient(45deg, rgba(228, 114, 227, 0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%),
 linear-gradient(to right, rgba(255, 251, 221, 0.87), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,.3)),
 linear-gradient(to right, rgb(214, 137, 210), rgba(255,255,255,.9) 45%, rgba(232, 142, 227, 0.5)),
 linear-gradient(to right, rgb(214, 112, 186), rgba(255,255,255,.9) 45%, rgba(247, 170, 235, 0.5)),
 linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5)),
 linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5));
	background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
	background-repeat: no-repeat;
	background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
	border-radius: 10px;
	box-shadow: rgba(220, 126, 190, 0.5) 3px 10px 10px -10px;
	color: yellow;
	display: inline-block;
	font-weight: bold;
	margin: 4px;
	outline: none;
	padding: 1em 2em;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-shadow: rgba(255,255,255,.5) 1px 1px, rgba(100,100,100,.3) 3px 7px 3px;
	user-select: none;
}
