body
{
	background-image: url("https://million-wallpapers.ru/wallpapers/1/64/468669496257045/belye-kameshki.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 18px;
	text-align: center;
	margin: auto;
}

form{

	background-image: url("https://roomester.ru/wp-content/uploads/2019/07/tyul-dlya-zala38.jpg");
	opacity:96%;
	background-repeat: no-repeat;
	border-radius: 10px;
	width:500px;	
    margin: auto;
	outline: none;
	padding:30px;
	margin-top:100px;
	margin-bottom:100px;
	text-align: center;
	text-decoration: none;
	text-shadow: rgba(255,255,255,.5) 1px 1px, rgba(220, 210, 210, 0.3) 3px 7px 3px;
	font-family: "Century Gothic";
}


form:hover
{
	background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
	transition: .5s cubic-bezier(0.85, -0.21, 0.58, 1);
    background-color:#abaaa3ba;
    color:#ffffff;
    text-shadow: none;

}

label{
	margin-left:10px;

}
